body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
  color: white;
  font-family: sans-serif;
}

.main {
  padding: 5px 0;
  text-align: center;
}

input {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.inputs input {
  border: none;
  border-radius: 5px;
  padding: 1rem 10rem;
  outline: none;
  margin-bottom: 10px;
  text-align: center;
}

#selectOp {
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
  font-size: 20px;
}

#btn {
  border: none;
  background: transparent;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 1rem;
}