* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#0093e9, #47d8c7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.selector {
  width: 350px;
}

#selectField {
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#selectField img {
  width: 20px;
  transition: transform 0.5s;
}

#list {
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  overflow: hidden;
  margin-top: 7px;
}

.option {
  width: 100%;
  position: relative;
  padding: 15px 0px 15px 70px;
  list-style: none;
  box-sizing: border-box;
}

.option img {
  width: 25px;
  position: absolute;
  top: 12px;
  left: 25px;
}

.option:hover {
  background: rgba(255, 255, 255, 0.7);
}

/* JavaScript */
.hide{
  visibility: hidden;
}

.rotate {
  transform: rotate(180deg);
}