* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
      font-family: 'Roboto', sans-serif;
}
:root {
    --background: #fff;
    --foreground: #171717;
    --primary: #5236ff;
    --primary-hover: #4229e6;
    --primary-active: #3820cc;
    --secondary: #9173ef;
    --secondary-hover: #7f5fe6;
    --secondary-active: #6d4bdd;
    --pale: #e0dbff;
    --pale-hover: #d0c9ff;
    --pale-active: #c0b7ff;
    --dark: #19163f;
    --dark-hover: #252050;
    --dark-active: #0f0d29;
    --accent: #3ca4e5;
    --accent-hover: #2f8fcc;
    --accent-active: #267ab3;
}